@{
    ViewData["Title"] = "Home Page";
}
<h1>Willkommen Weltenretter</h1>
<h3>Schön, daß Du Dir die Zeit nimmst</h3>
<p class="body-content">Wenn Du Dich berufen fühlst, kicke einfach auf den <a href="Helds">Link</a>  und trage Dich in die Liste ein. Du wirst séhen, Du bist nicht allein, </p>

<p class="body-content">Wir sehen uns ...</p>
<div><img src="~/images/welt.jpg" alt="Weltkarte" width="800" /></div>
